:root{
    --poppins: 'Poppins', sans-serif;
    --oppen-sans: 'Open Sans', sans-serif;
    --color-violet:  hsl(257, 40%, 49%);
    --color-white: #FFF; 
}

body{
    background:url('images/bg-desktop.svg'),var(--color-violet);
    font-family: var(--poppins);
    margin:0;
    color: var(--color-white);
}

.img{
    max-width: 100%;
}

.logo{  
    display: block;
    margin-left: 50px;
    margin-top: 50px;
}

.contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin: 50px;
    justify-content: center;
}

.container{
    text-align: left;
}

.button{
    background-color: var(--color-white);
    color: var(--color-violet);
    border: none;
    border-radius: 2em;
    font-size: 1em;
    font-family: var(--poppins);
    padding: 1em 5em;
}

.social{
    display: flex;
    justify-content:flex-end;
    margin-right: 3em;
    margin-bottom: 1em;
    
}
.social a{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px
}